<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action ='/authenticate_login/'>
        {% csrf_token %}
        <div>
            Username: <input type="text" name = "username">
        </div>
        <div>
            Password: <input type="password" name = "password">
        </div>
        <div>
             <button type ="submit">Login</button> 
             <a href ="/register">Register</a>
        </div>
    </form>
</body>
</html>