<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>

        {%if user.is_authenticated%}
            <h3>Profile</h3>
            <h3>Home</h3>
            <a href = '/logout'><h3>Logout</h3></a>
        {%else%}
            <h3>Profile</h3>
            <h3>Home</h3>
            <a href = '/log'><h3>Login</h3></a> 
        {%endif%}
    </div>
</body>
</html>