<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Account</h1>
    {%if messages%}
        The username already exists
    {%endif%}
    <form method="post" action="/authenticate_register/">
        {% csrf_token %}
        <div>

            <input type="text" placeholder="Username" name ="username">      
        </div>
    
        <div>
            <input type="password" placeholder="Password" name = "password">
        </div>
    
        <button type="submit">Register</button>

    </form>
</body>
</html>